<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>About us</h3>
      <p>
        Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus.
        lac inia eget consectetur sed, convallis at tellus. Nulla porttitor
        accumsana tincidunt.
      </p>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>Get in touch</h3>
      <div class="info">
        <h4>Location:</h4>
        <p>0926k 4th block building, king Avenue, New York City.</p>
        <div class="info2">
          <h4>Contact:</h4>
          <p>Phone : +121 098 8907 9987</p>
          <p>Email: shoppinny.@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>Quick links</h3>
      <ul>
        <li>
          <a href="#home">Trang Chủ</a>
        </li>
        <li>
          <a href="#product">Sản Phẩm</a>
        </li>
        <li>
          <a href="#about">Giới Thiệu Cửa Hàng</a>
        </li>
        <li>
          <a href="#sukien">Sự Kiện</a>
        </li>
        <!-- <li>
              <a href="#contact">Contact</a>
            </li> -->
      </ul>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <h3>Sign up for your offers</h3>
      <p>
        By subscribing to our mailing list you will always get latest news and
        updates from us.
      </p>
      <input type="text" placeholder="Enter Your Email..." />
      <button type="submit" class="but">Sign Up</button>
    </div>
  </div>
</div>
