<section class="sec">
  <div class="container">
    <!-- <h3>Products you bought:</h3> -->
    <br />
    <div class="row">
      <ul class="nav justify-content-center bg-dark">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Tất cả</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chờ thanh toán</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vận chuyển</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Đang giao</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Hoàn thành</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">Đã huỷ</a>
        </li>
      </ul>
    </div>
    <br />
    <br />
    <table class="table text-center table-hover table-bordered">
      <thead>
        <tr class="bg-danger-subtle">
          <th>SL No.</th>
          <th>Product</th>
          <th>Quanlity</th>
          <th>Product Name</th>
          <th>Price</th>
          <th>Move</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <img src="/assets/bla2.jpg" style="width: 125px; height: 125px" />
          </td>
          <td>
            <!-- <button ng-click="discreaseP(product);" class="btn bg-warning">
              -
            </button>
            <span>1</span>
            <button ng-click="increaseP(product);" class="btn bg-warning">
              +
            </button> -->
            <input type="number" width="30%">
          </td>
          <td>Black Blazer</td>
          <td>$200</td>
          <td>
            <button class="btn btn-danger">X</button>
          </td>
        </tr>
        <tr>
          <td>1</td>
          <td>
            <img src="/assets/bla2.jpg" style="width: 125px; height: 125px" />
          </td>
          <td>
            <button ng-click="discreaseP(product);" class="btn bg-warning">
              -
            </button>
            <span> 1 </span>
            <button ng-click="increaseP(product);" class="btn bg-warning">
              +
            </button>
          </td>
          <td>Black Blazer</td>
          <td>$200</td>
          <td>
            <button class="btn btn-danger">X</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<br />
<br />
<section class="sec22">
  <div class="container">
      <h3 style="float: right;">
        Total: $250
      </h3>
      <a href="#product"><button class="btn bg-info">Continue Shop</button></a>
  </div>
</section>
